* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#index_body{
    background-color: #e9e9e9;
    padding: 0px 10px 0px 10px;
    font-family: Arial;
}
.main {
    background-color: #9eaca7;
    max-width: 900px;
    border: 1.9px solid #5a5f78;
    margin: auto;
}
.row {
    margin: 10px -16px;
}
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #5c86a4;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
/*
button {
  size: 50px;
  border-radius: 5px solid;
  padding: 2px;
}
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(99, 92, 92);
}

/* Header styles */
.header {
  display: grid;
  grid-template-columns: 20% 34% auto;
  background-color: #06d641;
}
#logo {
  width: 120%;
}
#logo_container {
    align-items: center;
}

#login_register {
  align-items: center;

}
/* tietosuojastyle here! */
.tietosuoja_laatikko {
    max-width: 900px;
    margin: 100px auto;
    background-color: white;
    height: 800px;
    border: groove #77fa77 15px;
}

.otsikko {
    text-align: center;
    margin-top: 30px;
    
}

.btekstit{
    font-size: 17px;
    font-family: arial;
}

.tekstit5 {
    margin: 0px 15px 0px 15px;

}
/*--------------------------------------*/

#leave_post_container {
  align-items: center;
  vertical-align: middle;
  padding: 10px 0px 0px 0px;
  margin-left: 15px;
  margin-right: 11px;
}
.logotyhjatext{
    margin-top: 15px;
    padding: 0px 0px 0px 10px;
    height: 40px;
    width: 100%;
}
.logotexti{
    font-size: 30px;
    color: white;
    word-break: break-all;
    text-align: center;
}
.logotextii{
    font-size: 20px;
    color: white;
    word-break: break-all;
    text-align: center;
}
.home_log_btn{
    position: relative;
    left: 90px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 4px;
    float: left;
    cursor: pointer;
    border: 2px solid darkblue;
    background: linear-gradient(45deg, #fff 50%, orangeRed 50%);
    -webkit-background-clip: text;
    color: black;
}
.home_log_btn:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, orangeRed 50%, white 50%);
  z-index: -1;
}
.home_log_btn,
.home_log_btn:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
}
.home_log_btn:hover,
.home_log_btn:hover:after {
  background-position: 0;
  font-size: 1.1em;
  color: white;
}
.kesktinappi{
    
    padding: 15px 0px 0px 0px;
}
/* home page Style the buttons */
.btn_1{
 padding: 8px 16px;
 margin-left: 4px;
 border-radius: 4px;
 cursor: pointer;
 border: 2px solid black;
 background: linear-gradient(45deg, #fff 50%, #5c86a4 50%);
 position: relative;
 color: black;

}
.btn_1:after{
 content:"";
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background: linear-gradient(45deg, orangeRed 50%, transparent 50%);
 z-index: -1;
}
.btn_1,
.btn_1:after{
 background-size: 300%;
 background-position: 100%;
 transition: 1s, font-size 0.2s;
}
.btn_1:hover{
 background-position: 0;
    font-size: 1.1em;
    color: black;
}
.btn_1.active {
  background-position: 0;
  font-size: 1.09em;
  color: none;
  background-color: none;
}
#register_indesbtn:hover{
    background-color: deepskyblue;
}
/*Quick search menubar styles*/
.quick_search_links {
  background-color: blue;
}

/* Accurate search styles */
.accurate_search_btn_container {
    background-color: #5a5f78;
    position: relative;
}
/* h4 text style */
h4{
    font-size: 15px;
}
/* the register text style  */
h12{
    width: 100%;
    font-family: Arial;
    font-size: 30px;
    
    
}
.t_and_j_btns{
    position: relative;
    background-color: #5a5f78;
    width: 100%;
    height: 100px;
}
.home_b_btn2{
    position: relative;
    left: 60px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 4px;
    padding: 8px 15px;
    border-radius: 4px;
    float: left;
    cursor: pointer;
    border: 2px solid rgb(10, 10, 10);
    background: linear-gradient(45deg, #fff 50%, orangeRed 50%);
    -webkit-background-clip: text;
    color: #fbff90;
}
.home_b_btn2:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, orangeRed 50%, white 50%);
  z-index: -1;
}
.home_b_btn2,
.home_b_btn2:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
}
.home_b_btn2:hover,
.home_b_btn2:hover:after {
  background-position: 0;
  font-size: 1.1em;
  color: white;
}

/* Post container styles */
.posts_container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
}
.posts_container img {
  max-width: 200px;
  max-height: 200px;
}

/* form styles */

.menu_container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  margin-left: 10px;

}
 form .selectstyle  {
  text-align: center;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
.selectstyle {
  text-align-last: center;
  padding-right: 29px;

  height: 30px;
  margin-top: 15px;
  width: 100%;
  box-shadow: #dddddd;
}

.upload_btn_wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
#lataa_kuva {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.upload_btn_wrapper .inputstyle[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.textareastyle {
  width: 100%;
}
/* Ebike form styles */

#eMtb_menu {
  visibility: hidden;
}
#eBikeType {
  color: blue;
}
#mySelect {
  color: red;
}
/* Footer syles*/
#footer {
    padding: 20px;
    width: 100%;
    height: 65px;
    background-color: #001;
    
}
#footer #footer_teksti {
    width: 100%;
    color: darkgray;
    text-align: center;
    font-size: 12px;
}
#div_footerc{
    width: 100%;
    height: 30px;
    padding: 0px 0px 0px 0px;
    background-color: #001;
    
}
#div_footerc #footer_copyright {
    width: 100%;
    color: darkgray;
    text-align: center;
    font-size: 13px;
    
    
}


/* register.html styles */
.main_register{
    background-color: #9eaca7;
    max-width: 900px;
    height: 1000px;
    border: 1.9px solid #5a5f78;
    margin: auto;
}
#logo_container1{
    width: 100%;
    height: 320px;
    background-color: green;
}
#logo_container1 #logo_register1{
    
}
#register_formi1{
  position: absolute;
  box-shadow: 0px 5px 30px 5px #5a5f82;
  top: 500px;
  left: 50%;
  padding: 10px;
  margin-bottom: 50px;
  margin-top: -150px;
  margin-left: -150px;
  width: 300px;
  height: 500px;    
  text-align: center;
  background-color: darkred;
  border: groove yellow 15px;
  background-color:rgba(255,255,255,0.1);
}
#body_register{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../imgs/testi_kuva4.jpg');
  height: 1700px;
  background-size: cover;
  background-position: center;
}
.header_register{
    display: grid;
    grid-template-columns: 35% 35% 270px;
    background-color: #06d641;
    font-size: 20px;
}
#register_inputs1{
  background-color: white;
  height: 30px;
  position: static;
  left: 100px;
  margin-top: 25px;
  margin-left: 64px;
  margin-bottom: 10px;
}
.register_btn1{
 padding: 8px 16px;
 border-radius: 4px;
 cursor: pointer;
 border: 2px solid orangeRed;
 background: linear-gradient(45deg, #fff 50%, #7a83cb 50%);
 position: relative;
 color: black;

}
.register_btn1:after{
 content:"";
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background: linear-gradient(45deg, orangeRed 50%, transparent 50%);
 z-index: -1;
}
.register_btn1,
.register_btn1:after{
 background-size: 300%;
 background-position: 100%;
 transition: 1s, font-size 0.2s;
}
.register_btn1:hover{
 background-position: 0;
    font-size: 1.1em;
    color: red;
}
.div_tyhja_vali{
    position: absolute;
    top: 900px;
    padding: 0px 1303px 0px 0px;
    width: 1000px;
    height: 30px;
    border: 5px solid red;
}
/**/

.dkuvat{
    border: 2px solid red;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    float: right;
    background-color: DodgerBlue;
}
.dkuvat > .picitems{
    background-color: #f1f1f1;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    float: right;
    margin: 25px 15px 25px 25px;
    text-align: center;
    font-size: 30px;
}
/* tarkka hakun  stylee alkaa tasta! */
.tarkkahaku_div{
    border: 10px solid dodgerblue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: skyblue;
    height: 500px;
}
#radios_div{
    border: 1px solid red;
    width: 50%;
    background: yellow;
}
#radios_div .formin_haku{
    position: relative;
    margin: 10px 0px 10px 4px;
    
}
.valitsemalli{
    font-size: 10px;
    
}
.valitsekoko{
    font-size: 10px;

}
.kolmas{
    font-size: 10px;
}
.flex-container{
    background-color: dodgerblue;
    
}
        
.flex-container > div{
    background-color: #f1f1f1;
    margin: 1px;
    padding: 20px;
}
.neljas{
    font-size: 10px;
}
/**********
accurate searchForm styles
**********/
.selectstyle{
    
  width: 100%;
  height: 30px;
  margin-top: 15px;
  width: 100%;
  box-shadow: #dddddd;
  text-align-last: center;
}
.inputstyle{
  width: 100%;
  height: 30px;
  margin-top: 15px;
  width: 100%;
  box-shadow: #dddddd;
  text-align: center;
}
#haestyle{
    text-align: center;
    width: 100%;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: skyblue;
    cursor: pointer;
}
#haestyle:hover{
    background-color: deepskyblue;
}

@media screen and (max-width: 715px) {
  .logotexti{
    font-size: 20px;
  }
    .logotextii{
        font-size: 14px;;
    }
    .home_log_btn{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 520px) {
  .logotexti{
    font-size: 15px;
  }
    .logotextii{
        height: 20px;
        font-size: 10px;
    }
}
/*
@media screen and (max-width: 480px) {
  .logotexti{
    
    font-size: 10px;
  }
    .logotextii{
        height: 20px;
        font-size: 10px;
    }
}
*/
@media screen and (max-width: 875px) {
    .btn_1{
        font-size: 15px;
        border-radius: 1px;
        padding: 1px;
        margin: 1%;
    }
    .home_log_btn{
    left: 1px;
    }
    
}
@media screen and (max-width: 455px) {
    h4{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
}
@media screen and (max-width: 335px) {
    h4{
        font-size: 6.5px;
    }
    p{
        font-size: 6.5px;
    }
}
@media screen and (max-width: 380px) {
    .home_b_btn2{
        left: 1px;
        
    }
    .t_and_j_btns{
        height: 120px;
    }
}
@media screen and (max-width: 255px) {
    #accurate_search{
        width: 80%;
    }
    #leave_post_btn{
        width: 80%;
    }
}
@media screen and (max-width: 1100px) {
    
    #div_footerc{
        padding: 10px 0px 20px 0px;
    }
}
@media screen and (max-width: 585px) {
    
    #footer{
        height: 100px;
    }
    #div_footerc{
        height: 80px;
        padding: 20px 0px 20px 0px;
    }
}
@media screen and (max-width: 430px) {
    
    #footer{
        height: 120px;
    }
   
}