* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  size: 50px;
  border-radius: 5px;
  padding: 2px;
}
/* Header styles */
.header {
  display: grid;
  grid-template-columns: 20% 34% auto;
  background-color: #06D641;
}
#logo {
    top: 1px;
    position: relative;
    width: 140px;
}
#logo_container {
  margin: 20px;
}
#logo_container button {
  background-color: blue;
  color: white;
  float: right;
  margin-top: 15%;
}
#login_register {
  background-color: aqua;
    float: right;
}
#leave_post_container {
  vertical-align: middle;
  background-color: red;
}

/*Quick search menubar styles*/
.quick_search_links {
  background-color: blue;
}

/* Accurate search styles */
.accurate_search_btn_container {
  background-color: pink;
}
/* Post container styles */
.posts_container {
  background-color: blueviolet;
}

/* Footer syles*/
.footer {
    background-color: gainsboro;
    min-height: 40%;
    top: 50%;
    position: relative;
    margin-bottom: 0;
}
.footer #fteksti{
    position: relative;
    padding-left: 0px;
    text-align: center;
    top: 30px;
    font-size: 13px;
    color: dimgray;
    font: Sans-serif;
}
.footer #fcopy{
    float: right;
    position: relative;
    top:29px;
    padding-right: 300px;
    font-size: 13px;
    color: dimgray;
    font: Sans-serif;
    }
    
    
}