* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  size: 50px;
  border-radius: 5px;
  padding: 2px;
}
/* Header styles */
.header {
  display: grid;
  grid-template-columns: 20% 34% auto;
  background-color: brown;
}
#logo {
  width: 100px;
}
#logo_container {
  margin: 10px;
}
#logo_container button {
  background-color: blue;
  color: white;
  float: right;
  margin-top: 15%;
}
#login_register {
  background-color: aqua;
}
#leave_post_container {
  vertical-align: middle;
  background-color: red;
}

/*Quick search menubar styles*/
.quick_search_links {
  background-color: blue;
}

/* Accurate search styles */
.accurate_search_btn_container {
  background-color: pink;
}
/* Post container styles */
.posts_container {
  background-color: blueviolet;
}

/* Footer syles*/
.footer {
  background-color: chartreuse;
}
